
@model List<AllPrintsByUserIdModel>
@{
    ViewData["Title"] = "All Prints You Created";
}
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />

@if (!Model.Any())
{
   <h2 class="text-center">Gallery doesn't contain any print designs!</h2>
}
else
{
    <h5 class="text-center mb-3 text-decoration-underline">Count of exposed prints by you: <span>@Model.Count() concepts</span></h5>    
}
  <div class="row">
    @foreach (AllPrintsByUserIdModel print in Model)
    {
         <partial name="_MinePrintsByUserIdPartial" model="print"/>
    }
</div>