@model ArtWorkFormModel


<div class="row position-relative">
     <img class="position-relative"style="width: 100%; height: 70vh; " src="/imgs/Stroke_Transparent_Multi_2.png" alt="Art Stroke"/>
       
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 position-absolute">
         <form method="post">
             <div class="form-group">
                 <label asp-for="Title"></label>
                 <input asp-for="Title" class="form-control" placeholder="Title...">
                       <span asp-validation-for="Title" class="small text-danger"></span>
             </div>
              <div class="form-group">
                  <label asp-for="Technique"></label>
                       <input asp-for="Technique" class="form-control" placeholder="Technique...">
                       <span asp-validation-for="Technique" class="small text-danger"></span>
              </div>
               <div class="form-group">
                       <label asp-for="Width"></label>
                       <input asp-for="Width"  class="form-control" placeholder="Cm"/>
                       <span asp-validation-for="Width" class="small text-danger"></span>
               </div>
               <div class="form-group">
                       <label asp-for="Height"></label>
                       <input asp-for="Height" class="form-control" placeholder="Height...">                  
                       <span asp-validation-for="Height" class="small text-danger"></span>
               </div>
                <div class="form-group">
                       <label asp-for="ImageUrl"></label>
                       <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                       <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                  <div class="form-group">
                       <label asp-for="CreatingYear"></label>
                       <input asp-for="CreatingYear" class="form-control" placeholder="Year">
                       <span asp-validation-for="CreatingYear" class="small text-danger"></span>
                </div>
                <div class="form-group">
                       <label asp-for="StyleId"></label>
                       <select asp-for="StyleId" class="form-control">
                                           @foreach (var style in Model.Styles)
                                           {
                                   <option value="@style.Id">@style.Name</option>
                                           }
                       </select>
                       <span asp-validation-for="StyleId" class="small text-danger"></span>
                </div>
             <div class="text-center">
                 <input class="btn btn-primary mt-3" type="submit" value="Save" style="background-color:#3ba6b1; border-radius: 20px;  width:30%"/>
             </div>
         </form>
    </div>
</div>