@model AllTechniquesViewModel

<div class="col-md-4">
        <div class="card mb-3 shadow-lg">
                <img class="card-img-top" src="@Model.ImageUrl" alt="New Technique Image">
                <div class="card-body text-center">
                        <h4 class="shadow-sm rounded-pill">@Model.Title</h4>
                        <p>Description: @Model.Description</p>
                        <br />
                </div>
        </div>
</div>