@model ArtWorkBecomePrintDesignFormModel
@{
    ViewBag.Title = "Add Print Design";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<partial name="_PrintDesignFormModel" model="@Model"/>

@section Scripts {
        <partial name ="_ValidationScriptsPartial"/>
}
